@charset "UTF-8";
* {
	margin:0;
	padding:0;
}
body{
	font: 16px Georgia, serif;
	background: white;
}
header,
nav,
section{
	background: #f6f6f6;
	border: 1px solid #ccc;
	border-radius:6px;
	padding: 20px;
	margin-bottom: 1px;
	color: black;	
	font-family: Verdana;
}
footer{
	background: #f6f6f6;
	text-align: center;
	padding: 10px;
	font-size: 16px;
	color: #555;
}
nav a{
	margin: 0px 15px 0px 10px;
	text-decoration:none;
	color:#3467eb;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
}
nav a:hover {
	color: #1a4fcc;
}
section form {
    margin-left: 1px;
}
form label{
	display: inline-block;
	width: 120px;
	font-weight: bold;
}

form input{
	padding: 6px;
	width: 250px;
	border: 1px solid #bbb;
	border-radius: 4px;
	margin: 8px 0;
}
section h2{
	font-size: 24px;
	font-family: Arial;
	margin-bottom: 12px;
}
header{
	background-image: url(https://t4.ftcdn.net/jpg/03/08/02/89/360_F_308028924_YwjqVGzauey7GfmckScMtIkSPJAVNkll.jpg);
	background-size: cover;
	background-position: center;
	font-family: Georgia, serif;
}
section label,
section select{
	font-family: Arial;
	font-size:16px;
}
section input[type="submit"]{
	padding: 4px 10px;
	font-size: 14px;
	width: auto;
	border-radius: 4px;
}